<template>
  <div class="about">

    <v-card class="ma-2 pa-2 text-h2" :flat="true">About Shot Clock</v-card>
    
    <v-card class="ma-2 p2-2" :flat="true">
    <p>Shot Clock is a way for remote teams to set timers for all
      meeting participents.</p>
    
    <p>The intent is that any team member may start a timer that all team 
      members will see count down. When the timer reaches zero an alarm
      is sounded and some action should be taken. Typically this would
      be to defer a tangential conversation until another time.</p>

    <p>Other uses might be that this times presentations
      or sections of a meeting agenda.</p>
    
    <p>Putting a clock somewhere that call can see should help communication
      that time is a resource that should be spent well.</p>
    
    </v-card>
  </div>
</template>
