<template>
    <div>

        <v-dialog v-model="showNameDialog">
            <v-card>
                <v-text-field v-model='name' label="Name"></v-text-field>
                <v-btn v-on:click="acceptNewName()">OK</v-btn>
            </v-card>
        </v-dialog>

        <audio ref="alarm">
            <source src="@/assets/alert01.mp3" type="audio/mp3" />
            <source src="@/assets/alert01.wav" type="audio/wav" />
        </audio>

        <v-card :flat="true" class="pa-2">
            <!-- Clock card. -->
            <v-card width="3em" class="text-h3 d-inline-block text-right">{{hoursRemaining}}h</v-card>
            <v-card width="3em" class="text-h3 d-inline-block text-right">{{minutesReamining}}m</v-card>
            <v-card width="3em" class="text-h3 d-inline-block text-right">{{secondsRemaining}}s</v-card>
            <v-card width="4em" class="text-h3 d-inline-block text-right">{{millisecondsReamining}}ms</v-card>
        </v-card>

        <v-card :flat="true" class="pa-2">
            <v-card :flat="true">
                <!-- Buttons card. -->
                <v-btn class="" v-on:click="addToTimer(60)">+1 minute</v-btn>
                <v-btn class="" v-on:click="setTimerFromNow(300)">5 minute</v-btn>

                <v-card :flat="true" width="30em">
                    Set to
                    <v-text-field class="d-inline-block" v-on:keyup.enter="setTimerFromNow($event.srcElement.value)" label="seconds"></v-text-field>
                    .
                </v-card>

                <v-btn class="" v-on:click="cancelTimer()">Cancel</v-btn>
            </v-card>

            <v-card class="pa-2" width="30em">
                <v-virtual-scroll ref="chat" :items="messages" height="120" item-height="24">
                    <template v-slot="{ item, index }">
                        <div v-if="index + 1 == messages.length" id="last-chat-message">
                            {{item.name}} - {{item.data}}
                        </div>
                        <div v-else>
                            {{item.name}} - {{item.data}}
                        </div>
                    </template>
                </v-virtual-scroll>
                <v-text-field v-model="messageDraft" v-on:keyup.enter="sendMessage($event)" label="Message" autofocus></v-text-field>
                <v-text-field v-model='name' v-on:change="acceptNewName()" label="Name" ></v-text-field>
            </v-card>
        </v-card>
    </div>
</template>

<script>

export default {
    props: {
        domain: String
    },
    methods: {
        acceptNewName() {
            this.showNameDialog = false
            window.localStorage.setItem('name', this.name)
        },
        sendMessage() {
            if (this.websocket) {
                var msg = {
                    'name': this.name,
                    'type': 'msg',
                    'data': this.messageDraft,
                }

                this.websocket.send(JSON.stringify(msg))
                this.appendMessage(this.name, this.messageDraft)
                this.messageDraft = ''
            }
        },
        appendMessage(name, data) {
            this.messages.push({name, data})
            this.$nextTick(() => {
                // console.log(this.$refs)
                const c = this.$refs.chat
                // Next tick to allow the message to be rendered into the scroll.
                c.$el.scrollTop = c.itemHeight * this.messages.length
            })
        },
        setTimerFromNow(seconds) {
            var t = Date.now() + (seconds * 1000)
            this.setTimer(t)
        },
        setTimer(t) {
            var msg = {
                type: 'timer',
                timeout: t,
                name: this.name,
            }

            if (this.websocket) {
                this.websocket.send(JSON.stringify(msg))
            }

            this.startTimer(t)
        },
        recvTimer(msg) {
            this.startTimer(msg.timeout)
        },
        addToTimer(duration) {
            var refTime = 0
            
            if (this.timeout > 0) {
                refTime = this.timeout
            } else {
                refTime = Date.now()
            }

            this.setTimer(refTime + parseInt(duration)*1000)
        },
        startTimer(timeout) {
            this.timeout = parseInt(timeout)
            if (this.intervalId) {
                clearInterval(this.intervalId)
            }
            this.intervalId = setInterval(() => this.checkTimer(), 50)
        },
        cancelTimer() {
            if (this.intervalId) {
                clearInterval(this.intervalId)
                this.intervalId = null
                this.timeout = 0
                this.setRemaining(0)

                if (this.websocket) {
                    this.websocket.send(JSON.stringify({type:'canceltimer', name: this.name}))
                }
            }
        },
        checkTimer() {
            var n = Date.now()
            if (n < this.timeout) {
                this.setRemaining(this.timeout - n)
            } else {
                clearInterval(this.intervalId)
                this.intervalId = null
                this.setRemaining(0)
                this.alarm()
            }
        },
        setRemaining(r) {
            if (r <= 0) {
                this.remaining = 0
                this.hoursRemaining = 0
                this.minutesReamining = 0
                this.secondsRemaining = 0
                this.millisecondsReamining = 0
            } else {
                this.remaining = r
                this.hoursRemaining = Math.trunc(r / 60 / 60 / 1000)
                r -= this.hoursRemaining * 60 * 60 * 1000
                this.minutesReamining = Math.trunc(r / 60 / 1000)
                r -= this.minutesReamining * 60 * 1000
                this.secondsRemaining = Math.trunc(r / 1000)
                r -= this.secondsRemaining * 1000
                this.millisecondsReamining = r
            }

        },
        alarm() {
            this.$refs.alarm.play()
        },
        connect() {
            console.info("Connecting.")
            var uri = `${location.host}/shotclock/api/ws/hub/${this.domain}`
            if (location.protocol == 'https:') {
                uri = 'wss://'+uri
            } else {
                uri = 'ws://'+uri
            }
            const websocket = new WebSocket(uri)
            websocket.addEventListener('open', event => {
                this.websocket = websocket
                console.info("Open event", event)                
            })
            websocket.addEventListener('close', close => {
                console.info("Closed event. Reopening.", close)
                setTimeout(() => this.connect(), 5000)
            })
            websocket.addEventListener('error', err => {
                console.info("Error event.", err)
                // setTimeout(() => this.connect(), 5000)
            })
            websocket.addEventListener('message', msg => {
                try {
                    var json = JSON.parse(msg.data)
                    if (json.type == 'msg') {
                        this.appendMessage(json.name, json.data)
                    } else if (json.type == 'timer') {
                        this.recvTimer(json)
                    } else if (json.type == 'canceltimer') {
                        this.cancelTimer()
                    }
                } catch (err) {
                    console.info("Failed to parse message. Restarting.")
                    this.websocket.close()
                }
            })
        }
    },
    mounted() {
        this.name = window.localStorage.getItem("name") || 'Anonymous'
        if (!this.name || this.name == '' || this.name=='Anonymous') {
            this.showNameDialog = true
        }
        window.localStorage.setItem('name', this.name)
        this.connect()
    },
    data() { 
        return {
            name: null,
            messageDraft: '',
            showNameDialog: false,
            messages: [],
            websocket: null,
            intervalId: null,
            timeout: null,
            remaining: 0,
            hoursRemaining: 0,
            minutesReamining: 0,
            secondsRemaining: 0,
            millisecondsReamining: 0,
        }
    }
}
</script>