<template>
  <v-app>
    <v-app-bar
      app
      color="white"
      dark
    >
      <v-card class="mx-1 primary--text white" :flat="true" :to="{name: 'ShotClock'}">
        
      </v-card>

      <router-link class="mx-1 text-decoration-none" :to="{name: 'ShotClock'}">Shot Clock</router-link>
      <router-link class="mx-1 text-decoration-none" :to="{name: 'About'}">About</router-link>
      <v-spacer></v-spacer>

    </v-app-bar>

    <v-main>
     <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    //
  }),
};
</script>
